body {
  font-family: "Playfair Display", serif;
}

.welcome {
  background-image: url("../images/h_img.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}
#logo {
  padding-top: 230px;
  padding-left: 45%;
}
#mouse {
  align-self: center;
  padding-left: 47%;
  padding-top: 150px;
}

p {
  text-align: center;
}

.services {
  background-image: url("../images/s_image.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  color: white;
}

#designIcon {
  padding-left: 40%;
}

#devIcon {
  padding-left: 40%;
}

#productIcon {
  padding-left: 40%;
}

.design {
  display: none;
}

.development {
  display: none;
}

.product {
  display: none;
}

#container3 {
  padding-bottom: 50px;
  padding-left: 200px;
  padding-right: 200px;
}

.hover {
  display: none;
  background-color: white;
  opacity: 0.7;
  /* z-index: 1; */
  font-size: larger;
  height: 100%;
  width: 100%;
  padding-top: 40%;
  padding-right: 15%;
  position: absolute;
  /* top: 50%; */
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */
}

.contactUs {
  background-image: url("../images/c_image.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

#col3 {
  padding-left: 7cm;
  padding-top: 1cm;
  padding-right: 7cm;
  border: 2px;
}

#col1 {
  padding-left: 3cm;
  border: 2px;
}

#col2 {
  padding-right: 3cm;
  border: 2px;
}

input[type="text"] {
  background-color: transparent;
}

input[type="email"] {
  background-color: transparent;
}

#message {
  background-color: transparent;
}

input[type="text"]:focus {
  background-color: lightblue;
}

input[type="email"]:focus {
  background-color: lightblue;
}

.form-control::-webkit-input-placeholder {
  color: white;
}

footer {
  text-align: center;
  padding-top: 40px;
}
footer p {
  margin-top: 15px;
}
