.welcome{
    background-image: url("../images/h_img.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}
#logo{
    padding-top:230px;
    padding-left: 45%;
}
#mouse{
    align-self: center;
    padding-left: 47%;
    padding-top: 150px;
}
p{
    text-align: center;
}